html {
  font-size: clamp(1rem, calc(0.5rem + 1vw), 1.625rem);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*===Buton===*/

a.Join{
  background-color: #96BB7C;
  color: white;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
}
a.Join:hover {
  background: rgb(31, 87, 31);
}

a.Learn {
  border: 2px solid #96BB7C;
  color: #96BB7C;
  padding: 11px 16px 11px 16px;
  border-radius: 4px;
}

a.Learn:hover{
  background: rgb(68, 72, 68);
  color: white;
}

/*===Header===*/

header {
  background-color: #FFF2F3;
  display: flex;
  justify-content: space-between;
  padding: 3vw 10vw 3vw 10vw;
}

header nav ul {
  display: flex;
  gap: 20px ;
  font-size: 0.8rem;
  color: #BDBDBD;
}

header h1 {
  font-weight: bold;
}

/*===Banner===*/

section.banner {
  background:#FFF2F3;
  padding: 3vw 10vw 0vw 10vw;
  display: flex;
  gap: 7vw;
}

section.banner h3 {
  font-size: 0.7rem;
  color: #96BB7C;
  padding: 3vw 0 3vw 0;
  font-weight: bold;
}

section.banner h2 {
  font-size: 2.8rem;
  font-weight: bold;
  color: #252B42;
  padding: 0 0 3vw 0;
}
section.banner p {
  color: #737373;
  padding: 0 0 4vw 0;
}

/*===Team===*/
section.tm {
  padding: 1vw 15vw 1vw 15vw;;
}

section.tm h3 {
  font-size: 0.7rem;
  color: #96BB7C;
  padding: 4vw 0vw 0vw 0vw;
  font-weight: bold;
}

section.tm h2 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #252B42;
  padding: 1vw 0vw 1vw 0vw;
}
section.tm p {
  font-size: 0.8rem;
  color: #737373;
  padding: 1vw 0vw 1vw 0vw;
}

section.tm ul{
  display: flex;
  justify-content: center;
  gap: 2vw;
  padding: 7vw;
  font-size: 0.7rem;
}
section.tm ul li{
 background: #ECF0E8;
 text-align: center;
}
section.tm ul li p{
  font-size: 0.5rem;
  padding: 1vw 0 2vw 0;
}
section.tm ul li h4{
  font-size: 0.7rem;
  padding: 2vw 0 0 0;
  font-weight: bold;
}
/*==Newsletter==*/
section.Newsletter{
  background: #FFF2F3;
  text-align: center;
  padding: 6vw 0 6vw 0;
}
section.Newsletter h3{
  font-size: 0.7rem;
  color: #96BB7C;
  padding: 2vw 0vw 0vw 0vw;
  font-weight: bold;
}
section.Newsletter h2 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #252B42;
  padding: 1vw 0vw 1vw 0vw;
}
section.Newsletter p {
  font-size: 0.8rem;
  color: #737373;
  padding: 1vw 20vw 2vw 20vw;
}
/*=== Footer === */

footer{
  display: flex;
  padding: 3vw 0 3vw 0;
}
footer p{
  font-size: 0.8rem;
  color: #737373;
  padding: 0vw 30vw 0vw 15vw;
  justify-content: left;
}
footer img{
padding: 0 1vw 0 1vw;
justify-items: right;
}